.Error{
    background-image:linear-gradient(220deg , var(--prim) ,var(--sec), var(--sec));
color: var(--text);
display: flex;
justify-content: center; align-items: center;
flex-direction: column-reverse;
gap: 10vh;
font-size: 2.4vw ;
height: 100vh; 
h1{
  font-size: 8vw !important;
  
}
.red{
  color: red;
  font-weight: 900;
}
#Sa33i{
    width: 50vw;
  }
  p{
    font-size: 2.4vw ;
  }
  
  @media only screen and (max-width:459px) {
    font-size: 5vw !important;

       p{
      font-size: 7vw !important;
    }
    .lead{
      font-size: 5vw !important;

    }
   
    #Sa33i{
      width: 80vw;
    }
    h1{
      font-size: 15vw !important;

    }
}


}